@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


:root {
  --background-color: #F9FBFB;
  --text-color: #505050;
  /* ... other variables ... */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --text-color: white;
    /* ... adjust other variables for dark mode ... */
  }
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.no-style-input {
  /* Resetting default border styles */
  border: none;
  outline: none; /* Removing focus outline */

  /* Resetting default padding and margin */
  padding: 0;
  margin: 0;

  /* Resetting default appearance */
  appearance: none;
  -webkit-appearance: none; /* For some older browsers */

  /* Resetting box-shadow */
  box-shadow: none;

  /* Resetting any other potential default styles */
  /* (like background-color, font, etc.) */
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

table, th, td {
  border:1px solid #d3d3d3;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}